@page
@model OdeToFood.Pages.NewFolder.ListModel
@{
}

<h1>Restaurants</h1>
<h2>Order Up! </h2>
<div>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" 
                       asp-for="SearchTerm"/>
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="glyphicon glyphicon-search">

                        </i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table">
        @foreach(var restaurant in Model.Restaurants)
        {
            <tr>
                <td><a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">@restaurant.Name</a></td>
                <td>@restaurant.Cuisine</td>
                <td>@restaurant.Location</td>
                <td><a class="btn btn-lg"
                       asp-page="./Detail"
                       asp-route-restaurantId="@restaurant.Id"><i class="glyphicon glyphicon-zoom-in"></i></a></td>
            </tr>
        }
    </table>
</div>
<div>
    @Model.Message
</div>
